# PREDICTION HEART DISEASE

# 1. Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [6]:
heart = pd.read_csv("cardio_train.csv", sep=";")   # sep="," dùng để chuyển dữ liệu dưới dạng bảng nếu bị kiểu dính cột
heart.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

# 2. Feature extraction

In [11]:
# Select features and labels
def select_features(df, features_name):   # hàm chọn các đặc trưng
    return df[features_name].values

def select_labels(df, labels_name):       # hàm chọn biến mục tiêu
    return df[labels_name].values

In [12]:
features = select_features(heart, ["cholesterol", "gluc", "smoke", "alco"])
labels = select_labels(heart, "cardio")

In [13]:
features

array([[1, 1, 0, 0],
       [3, 1, 0, 0],
       [3, 1, 0, 0],
       ...,
       [3, 1, 0, 1],
       [1, 2, 0, 0],
       [2, 1, 0, 0]], shape=(70000, 4))

In [14]:
labels

array([0, 1, 1, ..., 1, 1, 0], shape=(70000,))

# 3. Split into Train, Validation, Test

In [17]:
from sklearn.model_selection import train_test_split

feature_train, feature_test, label_train, label_test = train_test_split(features, labels, test_size=0.1, random_state=42)
feature_train, feature_val, label_train, label_val = train_test_split(features, labels, test_size=0.1, random_state=42)

# 4. Train Machine Learning Model

In [18]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(feature_train, label_train)  # Gradient Descent

train_r2_score = model.score(feature_train, label_train)
val_r2_score = model.score(feature_val, label_val)

print(f"R2 score of train set: {train_r2_score}")
print(f"R2 score of val set: {val_r2_score}")

R2 score of train set: 0.04911217235737542
R2 score of val set: 0.05251027891607918

In [20]:
test_r2_score = model.score(feature_test, label_test)
print(f"R2 score of test set: {test_r2_score}")

R2 score of test set: 0.05251027891607918